body{
   background-color:rgb(233, 232, 232)
}
.container{
    background-image: url('7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    isolation: isolate;
    position: relative;
    color: white;
    width: 1500px;
    height: 700px;
}

.container::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index:-1;
    background-color: rgb(3, 3, 0.1);
    opacity: 0.8;
}
.nav{
    font-size:20px;
     background-color: darkslategrey; 
     height:100px;
}