body{
   background-color:rgb(233, 232, 232);
   max-height: 1000px;
}
.container{
    background-image: url('7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    isolation: isolate;
    position: relative;
    color: white;
    width: 1500px;
    height: 900px;
} 

.container::after{
    content: "";
    position: absolute;
    inset: 0;
    z-index:-1;
    opacity: 0.8;
    background-color: rgb(3, 3, 0.1);
}
.nav{
    font-size:20px;
     background-color: darkslategrey; 
     height:100px;
}

.my-custom-scrollbar {
position: relative;
height: 400px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}


table{
    width: 1200px;

}
table th {
    position:sticky;
    top:0;
    z-index:1;
    border-top:0;
    background-color: cadetblue;
 
}

#map{
    text-align: right;
}

#chart-wrapper {
            display: inline-block;
            position: relative;
            width: 1200px;
}