{% extends "base.html" %}
{% block title %} About Us {% endblock %}
{% block content %}
<div class="p-3">
    <h3 class="py-3"><center>About GHCN Limited</center></h3>
    <p >The Global Historical Climatology Network (GHCN) is an integrated database of climate summaries from land surface stations across the globe</p>
<p>This data is a product of NOAA's National Centers for Environmental Information (NCEI). It was compiled through the aggregation and analysis of many thousands of weather station records. The complete description of the processes and methods used may be found at https://www.ncdc.noaa.gov/ghcnm/v3.php.</p>

<p>The Global Historical Climatology Network-Monthly (GHCN-M) temperature dataset was first developed in the early 1990s (Vose et al. 1992). A second version was released in 1997 following extensive efforts to increase the number of stations and length of the data record (Peterson and Vose, 1997).</p>
<p> Methods for removing inhomogeneities from the data record associated with non-climatic influences such as changes in instrumentation, station environment, and observing practices that occur over time were also included in the version 2 release (Peterson and Easterling, 1994; Easterling and Peterson 1995).
<p>Since that time efforts have focused on continued improvements in dataset development methods including new quality control processes and advanced techniques for removing data inhomogeneities (Menne and Williams, 2009).

<h3 class="pt-5"> Website created by:</h3>
<ul>
<li>Abinaya Elangovan</li>
<li>Bernadine Emmanuel</li>
<li>Petermark Ikpe</li>
<li>Sairaj Naik</li>
<li>Yang Liu</li>

{%endblock%}