{% extends "base.html" %}
{% block title %} Global Temperature Tracking{% endblock %}
{% block style %}
      <style>
            .conta{
            background-image: none;
            background-color: #99CCFF;
           
            }
            .conta::after{
            background-color: white;
            max-width:1500px;
            }
      </style>
{% endblock %}
{% block content %}

<h1 style=" color:black; ">Global temperature</h1>
<form action="#" method="post">
      {% csrf_token %}
      <label style=" color:black;" for="latitude" ><b>Latitute: </b></label>
      <select name="latitude" id="latitude" style="margin:20px;" required>
            <option disabled selected value> -- select an option -- </option>
            {% for num in latitude_range %}
            <option value={{num|add:"-5"}}-{{num}}N>{{num|add:"-5"}}-{{num}}N</option>
            <option value={{num|add:"-5"}}-{{num}}S>{{num|add:"-5"}}-{{num}}S</option>
            {% endfor %}
      </select>
      <label style=" color:black; " for="longitude"><b>longitute:</b> </label>
      <select name="longitude" id="longitude" style="margin:20px;" required>
            <option disabled selected value> -- select an option -- </option>
            {% for num in longitude_range %}
            <option value={{num|add:"-5"}}_{{num}}W>{{num|add:"-5"}}_{{num}}W</option>
            <option value={{num|add:"-5"}}_{{num}}E>{{num|add:"-5"}}_{{num}}E</option>
            {% endfor %}
      </select>
      <label style=" color:black; " for="month"><b>Month: </b></label>
      <select name="month" id="month" style="margin:20px;" required>
            <option disabled selected value> -- select an option -- </option>
            <option value="1">January</option>
           <option value="2">February</option>
           <option value="3">March</option>
           <option value="4">April</option>
           <option value="5">May</option>
           <option value="6">June</option>
           <option value="7">July</option>
           <option value="8">August</option>
           <option value="9">September</option>
           <option value="10">October</option>
           <option value="11">November</option>
           <option value="12">December</option>
      </select>
      
      <input type="submit" value="Submit">
</form>
<p style=" color:black; margin-top:20px; margin-left:350px"> Click on change chart type buttom to change the chart from bar to line and viceversa</p>
<input id="button" type="button" value="change chart type" style="margin-bottom:20px;  margin-left:600px">
<center>
<div id="chart-wrapper">
<canvas id="myChart"></canvas>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type= 'text/javascript'>
const ctx = document.getElementById('myChart').getContext('2d');
const button = document.getElementById("button");
let chart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014],
          datasets: [{
              label: 'Global temperature for Latitude: {{latitude}} and Longitude {{longitude}} for month {{month}} ',
              borderColor: 'rgb(255, 99, 132)',
              backgroundColor: "rgb(255, 99, 132)",
              data: {{data_list}}
                  }]
            },
            options: {
                responsive: true
            }
});
      button.addEventListener("click", () => {
        chart.config.type = chart.config.type === "line" ? "bar" : "line";
        chart.update();
      });
</script>
{%endblock%}
