{% extends "base.html" %}
{% block title %} Global Temperature Tracking{% endblock %}
{% block style %}
      <style>
            .conta{
            background-image: none;
            background-color: #99CCFF;
           
            }
            .conta::after{
            background-color: white;
            max-width:1500px;
            }
      </style>
{% endblock %}
{% block content %}

<br>
<h1 style=" color:black; margin-left:20px">Global temperature</h1>
<form action="#" method="post">
      {% csrf_token %}
      <label style=" color:black; margin-left:20px;" for="latitude"  ><b>Latitute1: </b></label>
      <select name="latitude" id="latitude" style="margin:20px;" required>
            <option disabled selected value> -- select an option -- </option>
            {% for num in latitude_range %}
            <option value={{num|add:"-5"}}-{{num}}N>{{num|add:"-5"}}-{{num}}N</option>
            <option value={{num|add:"-5"}}-{{num}}S>{{num|add:"-5"}}-{{num}}S</option>
            {% endfor %}
      </select>
      <label style=" color:black; " for="longitude"><b>longitute1:</b> </label>
      <select name="longitude" id="longitude" style="margin:20px;" required>
            <option disabled selected value> -- select an option -- </option>
            {% for num in longitude_range %}
            <option value={{num|add:"-5"}}_{{num}}W>{{num|add:"-5"}}_{{num}}W</option>
            <option value={{num|add:"-5"}}_{{num}}E>{{num|add:"-5"}}_{{num}}E</option>
            {% endfor %}
      </select>
      <label style=" color:black; " for="month"><b>Month1: </b></label>
      <select name="month" id="month" style="margin:20px;" required>
            <option disabled selected value> -- select an option -- </option>
            <option value="1">January</option>
           <option value="2">February</option>
           <option value="3">March</option>
           <option value="4">April</option>
           <option value="5">May</option>
           <option value="6">June</option>
           <option value="7">July</option>
           <option value="8">August</option>
           <option value="9">September</option>
           <option value="10">October</option>
           <option value="11">November</option>
           <option value="12">December</option>
      </select>
    <button type="submit" name="button" value="view">View</button>
    <br>
    <label style=" color:black; margin-left:20px;" for="latitude2" ><b>Latitute2: </b></label>
      <select name="latitude2" id="latitude2" style="margin:20px;" >
            <option disabled selected value> -- select an option -- </option>
            {% for num in latitude_range %}
            <option value={{num|add:"-5"}}-{{num}}N>{{num|add:"-5"}}-{{num}}N</option>
            <option value={{num|add:"-5"}}-{{num}}S>{{num|add:"-5"}}-{{num}}S</option>
            {% endfor %}
      </select>
      <label style=" color:black; " for="longitude2"><b>longitute2:</b> </label>
      <select name="longitude2" id="longitude2" style="margin:20px;" >
            <option disabled selected value> -- select an option -- </option>
            {% for num in longitude_range %}
            <option value={{num|add:"-5"}}_{{num}}W>{{num|add:"-5"}}_{{num}}W</option>
            <option value={{num|add:"-5"}}_{{num}}E>{{num|add:"-5"}}_{{num}}E</option>
            {% endfor %}
      </select>
      <label style=" color:black; " for="month2"><b>Month2: </b></label>
      <select name="month2" id="month2" style="margin:20px;" >
            <option disabled selected value> -- select an option -- </option>
            <option value="1">January</option>
           <option value="2">February</option>
           <option value="3">March</option>
           <option value="4">April</option>
           <option value="5">May</option>
           <option value="6">June</option>
           <option value="7">July</option>
           <option value="8">August</option>
           <option value="9">September</option>
           <option value="10">October</option>
           <option value="11">November</option>
           <option value="12">December</option>
      </select>
      
        <button type="submit" name="button" value="compare">compare</button>
</form>
<center>
    <br>
<div id="chart-wrapper">
<canvas id="myChart"></canvas>
</div>

    <input id="button" type="button" value="change chart type" style="margin-bottom:10px; margin-top:10px;  margin-left:7%">
    <p style=" color:black; margin-left:100px "> *Click on change chart type button to change the chart from bar to line and vice versa</p>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script type= 'text/javascript'>
const ctx = document.getElementById('myChart').getContext('2d');
const button = document.getElementById("button");

//creating chart element
let chart = new Chart(ctx, {
      type: 'line',
      data: {
          labels: [2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014],
          datasets: [{
              label: 'Temperature variation of Latitude: {{latitude}} and Longitude: {{longitude}} for month {{month}} ',
              borderColor: 'rgb(255, 99, 132)',
              backgroundColor: "rgb(255, 99, 132)",
              fill: false,
              data: {{data_list}}
                  },
                  {
              label: 'Temperature variation of Latitude: {{latitude2}} and Longitude: {{longitude2}} for month {{month2}}',
              borderColor: 'rgb(54, 162, 235)',
              backgroundColor: "rgb(54, 162, 235)",
              fill: false,
              data: {{data_list2}}
                  }]
            },
        options: {
            responsive: true,
            scales: {
                    xAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Year',
                                fontSize: 30
                              }
                            }],
                    yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Temperature in Celsius',
                                fontSize: 30
                              }
                            }]

                    }
             }
});

      // To change the chart type dynamically
      button.addEventListener("click", () => {
        chart.config.type = chart.config.type === "line" ? "bar" : "line";
        chart.update();
      });
</script>
{%endblock%}
