{% extends "base.html" %}
{% block title %} Global Temperature Tracking{% endblock %}

{% block content %}
<div class="p-3">
<h3> </h3>
<p>The Global Historical Climatology Network (GHCN) is an integrated database of climate that summaries from land surface stations across the globe. 
<br>This data set contains gridded mean temperature anomalies, or departures from a reference value or long-term average, from the Global Historical Climatology Network-Monthly (GHCN-M) version 3.2.1 temperature data set.</p>
<p>The gridded anomalies were produced from GHCN-M bias corrected data. Each month of data consists of 2,592 gridded data points produced on a 5° by 5° basis for the entire globe (72 longitude by 36 latitude grid boxes).
<ul>
<li>Frequency: Monthly</li>
<li>Period: 2000 to 2014</li>
</ul>


<p>This granular dataset permits extensive historical analysis of the earth’s climate to answer questions about climate change, including how different regions of the planet have been affected by changes in temperature over time.</p>
</div>
<center><h4> Choose a year  to view more details </h4>
<form action="{% url 'temp_detail' %}" method="POST">
  {% csrf_token %}
  <select name="year">
 {% for year_obj in years %}
  <option value={{year_obj.year}}>{{year_obj}}</option>
  {%endfor%}
   </select>

   <select name="monthID">
     <option value="1">January</option>
     <option value="2">February</option>
     <option value="3">March</option>
     <option value="4">April</option>
     <option value="5">May</option>
     <option value="6">June</option>
     <option value="7">July</option>
     <option value="8">August</option>
     <option value="9">September</option>
     <option value="10">October</option>
     <option value="11">November</option>
     <option value="12">December</option>
    </select>
    <button type="submit" value="Submit">Submit</button>
</form>
{%endblock%}


   
</body>
</html>