{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Individual temp by year Tracking</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
    <style>
      #map {
        height: 700px;
      }
      .attribution-icon {
        height: 20px;
      }
      .popUp .leaflet-popup-content-wrapper,
      .popUp .leaflet-popup-tip
      {
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div class="attribution-icon">
      <a href="https://www.flaticon.com/free-icons/geo" title="geo icons"
        >Geo icons created by Alona Dzhulai - Flaticon</a
      >
    </div>
    <script type="text/javascript">
      let temp_json = {{temps|safe}};
      const new_arr = temp_json.map(el => {
        let new_obj = {};
        for(let [key,val] of Object.entries(el)){
          if(key.includes('lon')){
            if(key.includes('W')){
              newkey = `-${key.split('_')[2].replace('W','')}`;
              new_obj[newkey] = val;
            }
            else{
              newkey = `${key.split('_')[2].replace('E','')}`;
              new_obj[newkey] = val;
            }
          }else{
            new_obj[key] = val;
          }
        }
        return new_obj;
      });
      let latitude = 57.149651;
      let longitude = -2.099075;
      let map = L.map('map').setView([latitude, longitude], 10);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      minZoom: 3,
      noWrap: true,
      bounds: [
        [-90, -180],
        [90, 180],
        ],
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);
      const icon = L.icon({
        iconUrl: "{% static 'location_icon.png'%}",
        iconSize: [30,30]
      });
      const popupOptions = {
        'className': 'popUp',
      }
      const marker_arr = []
      new_arr.forEach(el => {
        lat = el.latitude.includes('N')? `${el.latitude.split('-')[1].replace('N','')}`: `-${el.latitude.split('-')[1].replace('S','')}`;
        for(let [key,val] of Object.entries(el)){
          if(key*1 == key){
            if(val != -9999){
              let marker1 = L.marker([lat,key],{icon: icon}).addTo(map).bindPopup(`${val/100}°C`,popupOptions);
              marker_arr.push(marker1);
            }
          }
        }
      });
      const onmapClick = function(e){
        map.setView([latitude, longitude], 5);
      }
      const onmousein = function(e){
        e.target.openPopup();
      }
      const onmouseout = function(e){
        e.target.closePopup();
      }
      map.on('click', onmapClick);
      marker_arr.forEach(marker => {
        marker.on('mouseover', onmousein);
        marker.on('mouseout', onmouseout);
      })
    </script>
  </body>
</html>
