{% extends "base.html" %}
{% block title %} View Temperature by month {% endblock %}

{% block content %}
<h1>View Temperature of various locations by month</h1>
  
 <p><b>The year : {{yr}}</p>

  
 <p>Month : {{month}}</p></b>
 <div id="map" style="display:flex; justify-content:flex-end; width:94%; padding:50; margin:0 0 20px 0;">
   <a href="{% url 'map_detail' year=yr month=month %}"><input type="button" value="Map View"></a>
   
 </div>

    <div class="table-wrapper-scroll-y my-custom-scrollbar">
  <table class="table-bordered mb-0">
        <th>Latitude</th>
        <th>lon_175_180W</th>
        <th>lon_170_175W</th>
        <th>lon_165_170W</th>
        <th>lon_160_165W</th>
        
    {% for t in temp %}
    <tr>
     <td>{{t.latitude}}</td>
     <td>{{t.lon_175_180W}}</td>
     <td>{{t.lon_170_175W}}</td>
     <td>{{t.lon_165_170W}}</td>
     <td>{{t.lon_160_165W}}</td>
      </tr>
    {%endfor %}
       
    </table>
    </div>
   {%endblock%}
</body>
</html>
