{% extends "base.html" %}
{% block title %} View Temperature by month {% endblock %}

{% block content %}
<h1>View Temperature of various locations by month</h1>
  
 <p><b>The year : {% for y in yr %} {{y}}{%endfor%}</p>
  
 <p>Month : {{month}}</p></b>
    <div class="table-wrapper-scroll-y my-custom-scrollbar">

  <table class="table-bordered mb-0">
        <th>Latitude</th>
        <th>lon_175_180W</th>
        <th>lon_170_175W</th>
        <th>lon_165_170W</th>
        <th>lon_160_165W</th>
        
    {% for t in temp %}
    <tr>
     <td>{{t.latitude}}</td>
     <td>{{t.lon_175_180W}}</td>
     <td>{{t.lon_170_175W}}</td>
     <td>{{t.lon_165_170W}}</td>
     <td>{{t.lon_160_165W}}</td>
      </tr>
    {%endfor %}
       
    </table>
    </div>
   {%endblock%}
</body>
</html>
