{% extends "base.html" %}
{% load static %}
{% block title %} Global Temperature Tracking{% endblock %}
{% block style %}
      <style>
            .conta{
            background-image: none;
            color:black;
            }
            .conta::after{
            background-color: white;
            }
          #map {
        height: 700px;
        border:2px solid white;
        border-radius: 10px;
      }
      .attribution-icon {
        height: 20px;
      }
      .popUp .leaflet-popup-content-wrapper,
      .popUp .leaflet-popup-tip
      {
        background-color: black;
        color: white;
      }
      </style>
        <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
      integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
      crossorigin=""
    />
 {% endblock %}
    
 {% block content %}
 
  
    <script
      src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
      integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
      crossorigin=""
    ></script>
   
<h1><center>Map View </h1>
 <p>This is the map view of each location showing the temperature variation at each location. The data are temperature anomalies in degrees Celsius.</p>
   <p>The gridded anomalies were produced from GHCN-M bias corrected data. Each month of data consists of 2,592 gridded data points produced on a 5° by 5° basis for the entire globe (72 longitude by 36 latitude grid boxes) </p>
 <p> Zoom out to locate a pointer which points to a given location and hover over it to view the temperature in Celsius.</p>
    <div id="map">
    
    </div>
    <script type="text/javascript">
      let temp_json = {{temps|safe}};
      const new_arr = temp_json.map(el => {
        let new_obj = {};
        for(let [key,val] of Object.entries(el)){
          if(key.includes('lon')){
            if(key.includes('W')){
              newkey = `-${key.split('_')[2].replace('W','')}`;
              new_obj[newkey] = val;
            }
            else{
              newkey = `${key.split('_')[2].replace('E','')}`;
              new_obj[newkey] = val;
            }
          }else{
            new_obj[key] = val;
          }
        }
        return new_obj;
      });
      let latitude = 57.149651;
      let longitude = -2.099075;
      let map = L.map('map').setView([latitude, longitude], 10);
      L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      maxZoom: 19,
      minZoom: 3,
      noWrap: true,
      bounds: [
        [-90, -180],
        [90, 180],
        ],
      attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
      }).addTo(map);
      const icon = L.icon({
        iconUrl: "{% static 'location_icon.png'%}",
        iconSize: [30,30]
      });
      const popupOptions = {
        'className': 'popUp',
      }
      const marker_arr = []
      new_arr.forEach(el => {
        lat = el.latitude.includes('N')? `${el.latitude.split('-')[1].replace('N','')}`: `-${el.latitude.split('-')[1].replace('S','')}`;
        for(let [key,val] of Object.entries(el)){
          if(key*1 == key){
            if(val != -9999){
              let marker1 = L.marker([lat,key],{icon: icon}).addTo(map).bindPopup(`${val/100}°C`,popupOptions);
              marker_arr.push(marker1);
            }
          }
        }
      });
      const onmapClick = function(e){
        map.setView([latitude, longitude], 5);
      }
      const onmousein = function(e){
        e.target.openPopup();
      }
      const onmouseout = function(e){
        e.target.closePopup();
      }
      map.on('click', onmapClick);
      marker_arr.forEach(marker => {
        marker.on('mouseover', onmousein);
        marker.on('mouseout', onmouseout);
      })
    </script>
{%endblock%}